<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <div>
              <h2 class="header">{{>header}}</h2>
              <img  src="/img/—Pngtree—error 404 page not found_5768129.png" alt="404"  class="error-class
              ">
  
</div>
    
    <script src="../public/js/script.js"></script>
</body>
</html>