<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
     <div class="main-container">
              <h2 class="header">{{>header}}</h2>
              <div class="widgets">

    <form id="weatherForm">
        
  <label for="latitudeInput">Latitude:</label>
  <input type="text" id="latitudeInput" name="latitude">
  <br>
  <label for="longitudeInput">Longitude:</label>
  <input type="text" id="longitudeInput" name="longitude">
  <br>
  <span>*Check your location and check the weather</span>
  <button type="button" id="getLatLonBtn">Check your location</button>
  <button type="submit" id="getWeatherBtn">Get Weather</button>
  
</form>

<div class="weather-info">
     <div class="icon-amd-weatherInfo">
                    <div class="weather-icon">
                        <i></i>
                    </div>
                    <p class="place"></p>
  <p class="weatherCondition"></p>
  <p class="temperature"></p>
  <p class="humidity"></p>
  <p class="pressure"></p>
</div>

</div>

    </div>
    <script type="text/javascript" src="/js/script1.js"></script>
</body>
</html>
